body {
	display: grid;
	place-content: center;
	margin-top: 300px;
	font-family: 'Karla', sans-serif;
	background: lighten($grayishBlue, 5%);

	@media (max-width: 750px) {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

.join {
	background: $lightGray;
	padding: 2rem;
	border-radius: 15px 15px 0 0;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);

	.join__heading {
		color: $cyan;
		margin-bottom: 1.5rem;
		font-size: 2rem;
	}
	.join__subHeading {
		color: darken($brightYellow, 5%);
		margin-bottom: 1.5rem;
	}

	.join__paragraph {
		color: $grayishBlue;
		line-height: 1.3;
		font-weight: 700;
	}
}

.monthly {
	background: $cyan;
	padding: 2rem;
	font-weight: 400;
	border-radius: 0 0 0 15px;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);

	@media (max-width: 750px) {
		border-radius: 0;
	}

	.monthly__heading {
		color: $lightGray;
		margin-bottom: 1.5rem;
	}

	.monthly__price {
		color: $lightGray;
		margin-bottom: 0.5rem;
	}

	.monthly__amount {
		font-size: 2.2rem;
		font-weight: 700;
	}

	.monthly__benifit {
		color: $lightGray;
		margin-bottom: 1rem;
	}

	.monthly__cta {
		display: block;
		background: darken($brightYellow, 5%);
		color: $lightGray;
		border: none;
		border-radius: 5px;
		font-size: 1.5rem;
		width: 80%;
		height: 3.4rem;
	}
}

.why {
	background: lighten($cyan, 5%);
	padding: 2rem;
	border-radius: 0 0 15px 0;
	box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);

	@media (max-width: 750px) {
		border-radius: 0 0 15px 15px;
	}

	.why__heading {
		color: $lightGray;
		margin-bottom: 1rem;
	}

	.why__reasons {
		color: $lightGray;
		line-height: 1.3;
	}
}

footer {
	text-align: center;
	margin-top: 3rem;
}
